/*required to make images centered*/
html, body {
    height: 100%;
    /*border: 1px solid orange;*/

}

/*centers content to the middle of the page*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid orange;*/
    height: 100%;
}

/*This scales the hoiday text*/
.holiday-text {
    font-family: 'Mountains of Christmas', cursive;
    color: white;
    font-size: 5.5vmax;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: thin;
}

/* This scales the background image*/
.bg {
    /* The image used */
    background-image: url("media/images/chrismas_background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
