html, body {
    background-color: #25333C;
    height: 100%;
    border: 1px solid orange;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
    height: 85%
}

.holiday-text {
    font-family: 'Mountains of Christmas', cursive;
    color: white;
    font-size: 7vmax;
}
.img-control{
  height: 75%;
}
